<div class="service-offer-block">
    <div class="flash-block-header">
        <h1>Service Offer</h1>
        <a href="#">More Products <span class="pi pi-arrow-right"></span></a>
    </div>

    <div class="sercive-offer-content">
        <div class="so-part">
            <div class="so-icon">
                <img src="assets/images/bt.png" alt="">
            </div>
            <h3>Unbeatable Selection</h3>
            <p>All things home, all in a place</p>
        </div>

        <div class="so-part">
            <div class="so-icon">
                <img src="assets/images/op.png" alt="">
            </div>
            <h3>Expert Customer Service</h3>
            <p>Our friendly team's an hand seven days a week.</p>
        </div>

        <div class="so-part">
            <div class="so-icon">
                <img src="assets/images/do.png" alt="">
            </div>
            <h3>Fast & Free Shopping Over $35</h3>
            <p>Plus, two-day delivery on thousands of items.</p>
        </div>

        <div class="so-part">
            <div class="so-icon">
                <img src="assets/images/se.png" alt="">
            </div>
            <h3>Amazing Value Every Day</h3>
            <p>Items you love at prices that fit your budget</p>
        </div>
    </div>
</div>