<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Products" subheader="List of all Products">
    <div class="grid">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-file-excel"
        label="Download Excel"

        pTooltip="XLS"
        tooltipPosition="bottom"
        class="p-button-outlined p-button-info p-button-sm ml-2"
      ></button>
      <!-- <button
        type="button"
        label="Download Excel"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success ml-3 p-button-sm"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button> -->
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <!-- <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="form"
              class="p-button-sm"
            ></p-button> -->
            <button
              pButton
              pRipple
              type="button"
              label="New"
              routerLink="form"
              class="p-button-outlined p-button-raised p-button-success p-button-sm"
            ></button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="products"
          styleClass="p-datatable-gridlines"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <!-- <th>Id</th> -->
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Image</th>
              <th pSortableColumn="price">
                Price <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="stock">
                Stock <p-sortIcon field="stock"></p-sortIcon>
              </th>
              <!-- <th pSortableColumn="category">
                Category <p-sortIcon field="category"></p-sortIcon>
              </th> -->
              <th pSortableColumn="created">
                Created at <p-sortIcon field="created"></p-sortIcon>
              </th>
              <th pSortableColumn="edited">
                Edited at <p-sortIcon field="edited"></p-sortIcon>
              </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.name }}</td>
              <td>
                <img
                  [src]="product.image"
                  width="100"
                  class="shadow-4"
                  alt=""
                />
              </td>
              <td>{{ product.price }}</td>
              <td>{{ product.countInStock }}</td>
              <!-- <td>{{ product.category.name }}</td> -->
              <td>{{ product.dataCreated | date: 'short' }}</td>
              <td>{{ product.dataUpdated | date: 'short' }}</td>
              <td>
                <button
                  pButton
                  pRipple
                  (click)="deleteProduct(product._id)"
                  styleClass="p-button-danger mr-2"
                  icon="pi pi-trash"
                  type="button"
                  class="p-button-rounded p-button-danger p-button-text mr-1 ml-3 p-button-sm buttons"
                ></button>

                <button
                  pButton
                  pRipple
                  (click)="updateProduct(product._id)"
                  styleClass="p-button-danger mr-2"
                  icon="pi pi-pencil"
                  type="button"
                  class="p-button-rounded p-button-primary p-button-text p-button-sm buttons"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
