/*
.nav{
  font-size: large;
  font-weight: bold;
  li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    a{
      color: black;
      cursor: pointer;
      &:hover{
        color:  var(--blue-500);
      }
    }
  }
}
*/
