<p-toast [showTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'3ms'"></p-toast>
<div class="admin-page">
  <p-card header="Scoring-документы" subheader="Мои документы">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p *ngIf="scorings.length==0">No Docs</p>
        <p-table [value]="scorings" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>№</th>
              <th>ID</th>
              <th>Название магазина</th>
              <th>Ф.И.О Клиента</th>
              <th>Паспортная информация</th>
              <th>Дата рождения</th>
              <th>Номер телефона</th>
              <th>месяц</th>
              <th>Статус</th>
              <!-- <th>Менеджер</th> -->
              <th>Подтверждение кода</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-scoring let-rowIndex='rowIndex'>
            <tr *ngIf="scoring.statusAdmin!=='Новый'">
              <td>{{rowIndex+1}}</td>
              <td>{{scoring.uniqueId}}</td>
              <td>{{scoring.sellerName}}</td>
              <td>{{scoring.clientName}}</td>
              <td>{{ scoring.passportSeries }}</td>
              <td>
                {{ scoring.date | date: 'dd-MM-yyyy'}}
              </td>
              <td>
                {{ scoring.phoneNumber }}
              </td>
              <td>
                {{ scoring.term }}
              </td>
              <td>
                <div class="">
                  <div [ngClass]="scoring.statusAdmin=='Успешнно'?'lip-lip-green'
                  :scoring.statusAdmin=='Готово'?'green'
                  :scoring.statusAdmin=='Новый'?'lip-lip-green'
                  :scoring.statusAdmin=='В процессе'?'lip-lip-yellow'
                  :scoring.statusAdmin=='Ожидания кода'?'lip-lip-green'
                  :scoring.statusAdmin=='Ожидания ответа'?'lip-lip-yellow'

                  :scoring.statusAdmin=='Ошибка данных, введите данные повторно'||scoring.statusAdmin=='Неправилный код, Снова Ожидается!'||scoring.statusAdmin=='Неправильные документы'?'lip-lip-red'

                  :scoring.statusAdmin=='Информация о рассрочке'?'lip-lip-yellow'
                  :scoring.statusAdmin=='Оформление'?'lip-lip-green'
                  :scoring.statusAdmin=='Прием документов'?'lip-lip-yellow'
                  :scoring.statusAdmin=='Клиент отказал(-а)'||scoring.statusAdmin=='Отказано'?'red'
                  :' '" class="td-box">
                    {{ scoring.statusAdmin }}
                  </div>
                </div>
              </td>
              <!-- <td>
                {{ scoring.menedjerName }}
              </td> -->
              <td class="">
                <div class="code-td">
                  <div class="codeConfirmation">
                    {{ scoring.codeConfirmation }}
                  </div>
                  <div>

                  </div>
                </div>
              </td>
              <td class="td-manager">

                <style>
                  .td-box {
                    /* width: 100%; */
                    /* height: 100%; */
                    border-radius: 5px;
                    padding: 0.7rem 0.5rem;
                    text-align: center;
                    color: white;
                    font-weight: 600;
                    letter-spacing: normal;
                  }

                  .lip-lip-green {
                    width: 100%;
                    height: 100%;
                    /* border-radius: 50%; */
                    background-color: rgb(61, 199, 61);
                    box-shadow: 0 0 10px rgb(61, 199, 61);
                    display: inline-block;
                    text-align: center;
                    align-items: center;
                    animation: animate 2s linear infinite;
                    transition: all 0.5s linear;
                  }

                  .lip-lip-yellow {
                    width: 100%;
                    height: 100%;
                    /* border-radius: 50%; */
                    background-color: rgb(215, 225, 25);
                    box-shadow: 0 0 10px rgb(180, 189, 7);
                    display: inline-block;
                    text-align: center;
                    align-items: center;
                    animation: animate 2s linear infinite;
                    transition: all 0.5s linear;
                  }

                  .lip-lip-red {
                    width: 100%;
                    height: 100%;
                    /* border-radius: 50%; */
                    background-color: rgb(255, 40, 51);
                    box-shadow: 0 0 10px rgb(255, 40, 51);
                    display: inline-block;
                    text-align: center;
                    align-items: center;
                    animation: animate 2s linear infinite;
                    transition: all 0.5s linear;
                  }

                  .lip-lip-blue {
                    width: 100%;
                    height: 100%;
                    /* border-radius: 50%; */
                    background-color: rgb(59, 77, 233);
                    box-shadow: 0 0 10px rgb(28, 48, 224);
                    /* margin-left: 1.5rem; */
                    display: inline-block;
                    animation: animate 2s linear infinite;
                    transition: all 0.5s linear;
                  }

                  .red {
                    width: 100%;
                    height: 100%;
                    /* border-radius: 50%; */
                    background-color: rgb(255, 40, 51);
                    /* margin-left: 1.5rem; */
                    display: inline-block;

                  }

                  .green {
                    width: 100%;
                    height: 100%;
                    /* border-radius: 50%; */
                    background-color: rgb(61, 199, 61);
                    /* margin-left: 1.5rem; */
                    display: inline-block;
                    text-align: center;
                    align-items: center;
                  }

                  @keyframes animate {
                    0%

                    /* 18%, 20%, 50.1%, 60%, 65%, 80%, 90%  */
                      {
                      opacity: 0;
                      /* background-color: rgb(248, 248, 255); */
                      /* box-shadow: none; */
                    }

                    /* 18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%,   */
                    100% {
                      opacity: 1;
                      /* animation-duration: 2s; */
                      /* width: 22px; */
                      /* height: 22px; */
                      /* background-color: rgb(70, 56, 222); */
                      /* box-shadow: 0 0 10px; */
                    }
                  }





                  .code-td {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                  }

                  .codeConfirmation {
                    width: 50%;
                    height: 50%;
                    text-align: center;
                    display: inline-block;
                    align-items: center;
                  }

                  .td-manager {
                    display: flex;
                    align-items: center;
                    position: relative;
                  }

                  .chooseMenedjer {
                    position: absolute;
                    text-align: center;
                    justify-content: center;
                    padding: 0.6rem 1rem;
                    margin-right: 1rem;
                    background: #136dfd;
                    border-radius: 5px;
                    vertical-align: auto;
                    border: none;
                    font-weight: 600;
                    color: white;
                    font-size: 1rem;
                    left: 15%;
                    top: 25%;
                    cursor: pointer;
                    /* letter-spacing: ; */
                  }

                  .chooseMenedjer:hover {
                    background: #105cd6;
                  }
                </style>
                <button pButton pRipple (click)="updateScoring(scoring.id)" styleClass="p-button-success"
                  icon="pi pi-pencil" class="p-button-rounded p-button-primary p-button-text mr-2 p-button-sm"></button>
                <!-- <button *ngIf="scoring.menedjerName===''" class="chooseMenedjer" (click)="chooseMenedjer($event)"
                  id={{scoring.id}}>Take</button> -->
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
