<!--
<ul class="nav">
  <li><a routerLink="/"  style="color: slategray">Home</a></li>
  <li><a routerLink="/products"  style="color: slategray">Products</a></li>
  <li><a routerLink="/contact"  style="color: slategray">Contact</a></li>
  <li><a routerLink="/map"  style="color: slategray">Location</a></li>
</ul>
-->
<ul class="nav">
  <li class="nav-link"><a routerLink="/">Home</a></li>
  <li class="nav-link"><a routerLink="/products">Products</a></li>
  <li class="nav-link"><a href="#">Categories</a></li>
  <li class="nav-link"><a href="#">Brands</a></li>
  <li class="nav-link"><a href="#">Campaigns</a></li>
  <li class="nav-link"><a href="#">Sellers</a></li>
  <li class="nav-link"><a href="#">Live</a></li>
  <li class="nav-link">
      <select>
          <option value="disabled">Pages</option>
          <option value="aboutUs">About Us</option>
          <option value="contactUs">Contact Us</option>
      </select>
  </li>
</ul>
